<div class="container">
    <h2>{{employee.firstName}}  {{employee.lastName}} </h2>
    <div class="card-body "style="font-size:14px">
        <div>   <b> First Name</b>  : {{employee.firstName}} <br></div>
     <div>   <b> Last Name</b>   : {{employee.lastName}} </div>
        <br>
     <div>   <b> Date Of Birth</b>   : {{employee.dob}} </div>
<br>
     <div>   <b> Email</b>   : {{employee.email}} </div>
     <br>
     <div>   <b> Mobile Number</b>   : {{employee.mobileno}} </div>
     <br>
     <div>   <b> Address</b>   : {{employee.address}} </div>
     <br>
     <div>   <b> City</b>   : {{employee.city}} </div>
     <br>

     <button class="btn btn--radius-2 btn--blue" mat-raised-button id="modal-cancel-button" (click)="closeModal()">
        Go back

    </button>
    </div>
      </div> 
    
  
  
